// Importing Partials
@import 'partial/themes/variables';
@import 'partial/base/reset';
@import 'partial/utils/mixins';
@import 'partial/utils/functions';
@import 'partial/utils/placeholders';
@import 'partial/components/thumbnails';
@import 'partial/layouts/grid';
@import 'partial/components/overlay';

// Styles
body {
  font-family: $font-stack;
  color: $primary-color;
}

header {
  text-align: center;
  padding: rem(20px);
}
