// Importing Partials
@import 'partial/variables';
@import 'partial/reset';
@import 'partial/mixins';
@import 'partial/functions';
@import 'partial/placeholders';
@import 'partial/thumbnails';
@import 'partial/grid';
@import 'partial/overlay';

// Styles
body {
  font-family: $font-stack;
  color: $primary-color;
}

header {
  text-align: center;
  padding: rem(20px);
}
